<!DOCTYPE html>
<html lang="en">
  <%-include('layouts/head');-%>
  <body>
    <%-include('layouts/navbar');-%>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-heading">
              <h1>Man must explore, and this is exploration at its greatest</h1>
              <h2 class="subheading">Problems look mighty small from 150 milesup</h2>
              <span class="meta">
                Posted by
                <a href="#!">Start Bootstrap</a>
                on August 24, 2023
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <p>Never in all their history have men been able truly to conceiveoftheworld as one: a single sphere, a globe, having the qualities ofaglobe, around earth in which all the directions eventually meet,inwhich there isno center because every point, or none, is center —anequal earth whichall men occupy as equals. The airman's earth,iffree men make it, will betruly round: a globe in practice, notintheory.</p>
            <p>Science cuts two ways, of course; its products can be used forbothgoodand evil. But there's no turning back from science. Theearlywarningsabout technological dangers also come from science.</p>
            <p>What was most significant about the lunar voyage was not thatmansetfoot on the Moon but that they set eye on the earth.</p>
            <p>A Chinese tale tells of some men sent to harm a young girl whouponseeing her beauty, become her protectors rather than herviolatorsThat's how I felt seeing the Earth for the first time. Icould not helpbutlove and cherish her.</p>
            <p>For those who have seen the Earth from space, and for thehundredsandperhaps thousands more who will, the experience mostcertainlychanges yourperspective. The things that we share in ourworld arefar more valuablethan those which divide us.</p>
            <h2 class="section-heading">The Final Frontier</h2>
            <p>There can be no thought of finishing for ‘aiming for the stars’Bothfiguratively and literally, it is a task to occupy thegenerations.Andno matter how much progress one makes, there isalways the thrillofjust beginning.</p>
            <p>There can be no thought of finishing for ‘aiming for the stars’Bothfiguratively and literally, it is a task to occupy thegenerations.Andno matter how much progress one makes, there isalways the thrillofjust beginning.</p>
            <blockquote class="blockquote">The dreams of yesterday are thehopesoftoday and the reality of tomorrow. Science has notyetmasteredprophecy. We predict too much for the next year and yetfartoolittle for the next ten.</blockquote>
            <p>Spaceflights cannot be stopped. This is not the work of any onemanoreven a group of men. It is a historical process which mankindiscarryingout in accordance with the natural laws of humandevelopment.<p>
            <h2 class="section-heading">Reaching for the Stars</h2>
            <p>As we got further and further away, it [the Earth] diminishedinsize.Finally it shrank to the size of a marble, the mostbeautifulyou canimagine. That beautiful, warm, living object lookedsofragile, sodelicate, that if you touched it with a finger itwouldcrumble and fallapart. Seeing this has to change a man.</p>
            <a href="#!"><img class="img-fluid" src="assets/imgpost-sample-imagejpg"alt="..." /></a>
            <span class="caption text-muted">To go places and do things thathaveneverbeen done before – that’s what living is all about.</span>
            <p>Space, the final frontier. These are the voyages oftheStarshipEnterprise. Its five-year mission: to explore strangenewworlds, toseek out new life and new civilizations, to boldly gowhereno manhas gone before.</p>
            <p>As I stand out here in the wonders of the unknown at Hadley, Isortofrealize there’s a fundamental truth to our nature, Man mustexplore,andthis is exploration at its greatest.</p>
            <p>
              Placeholder text by
              <a href="http://spaceipsum.com/">Space Ipsum</a>
              &middot; Images by
              <a href="https://www.flickr.com/photos/nasacommons/">NASAonTheCommons</a>
            </p>
          </div>
        </div>
      </div>
    </article>
    <%-include('layouts/footer');-%>
    <%-include('layouts/scripts');-%>
  </body>
</html>
